<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Como funciona</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Recuerda que este curso no tiene ningun costo y que tiene como principal objetivo compartir conocimientos adquiridos de una manera profesional.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>Los tutoriales y ejemplos de cada uno de ellos podras encontrarlos en mi repositorio de github junto con un indice de cada uno de los videos</p>
                </div>
            </div>
        </div>
    </section>